<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=458847090954177";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="banner" class="owl-carousel">
  <div><%= image_tag 'banner_image1.jpg' %></div>
  <div><%= image_tag 'banner_image2.jpg' %></div>
  <div><%= image_tag 'banner_image3.jpg' %></div>
</div>
<div class="padder">
	<div class="container">
		<h1  class="title" style="margin-bottom:40px">Explore Possibilities to make your house feel like<b> <a href="">Home!</a></b>&nbsp; <span class="fb-like" data-href="http://houzome.com" data-layout="button" data-share='false' data-action="like" data-show-faces="true" data-share="true"></span></h1>
		<div class="flex-boxes">
		  <a href="javascript:void(0)" class="flex-box">
		    <%= image_tag 'b1.png' %>
		    <h1 class="flex-title">Design Your Dream</h1>
		    <div style="text-align:justify">
		    	<p>Envision your home and configure your design the way “YOU” want.</p><br>
				<p>Houzome assists in every step to realize your dream.</p>
		    </div>
		  </a>
		  <a href="javascript:void(0)" class="flex-box">
		    <%= image_tag 'b2.png' %>
		    <h1 class="flex-title">Guided Journey</h1>
		    <div style="text-align:justify">
		    <p>Develop your ideas into a unique interior design.</p><br>
		    <p>Houzome guides to develop the “unique” modern design that reflects “YOU”.</p>
			</div>
		  </a>
		  <a href="javascript:void(0)" class="flex-box">
		    <%= image_tag 'b3.png' %>
		    <h1 class="flex-title">Design Options</h1>
		    <div style="text-align:justify">
		    <p>Pre-configured modern interior design solutions</p><br>
			<p>Houzome enables to personalize designs with a range of customization options in a template-based selection</p>
			</div>
		  </a>
		</div>
	</div>
</div>

<div style="background:#F6F6F6">
	<div class="container padder light-gray">
	<h1  class="title"><a href="">We let our customers do the talking...</a></h1>
	<br>
		<div class="testimonials">
			<div class="comment" style="border:0px"> 
			  <div class="comment-image">
			    <%= image_tag 'testimonial1.png', style: 'background:white;padding:0px' %>
			  </div>
			  <div class="comment-content">
			    <h1>Vishal Sinha</h1><p class='comment-detail'>Bangalore</p>
			    <p><i>I was struggling to find all the guys who will do my interior... having to talk to so many different vendors for every single thing... Mr. Sanjeet of Houzome has been a great help in putting it all together... I can see my house being done in quick time, based on what I wanted and with assured quality... I am waiting to see it finish and move into it ... thanks Sanjeet!</i></p>
			  </div>
			</div>
			
		</div>
		<div class="blogposts">
			<div class="comment" style="border:0px">
			  <div class="comment-image">
			    <%= image_tag 'testimonial2.png', style: 'background:white;padding:0px' %>
			  </div>
			  <div class="comment-content">
			    <h1>D.N Sharma</h1><p class='comment-detail'>Patna</p>
			    <p><i>We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!</i></p>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="container padder">
	<h1 class="title"><a href="">Our Partners</a></h1>
	<br>
	<div id="partners">
	  <div class="item"><%= image_tag 'partner_3.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_5.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_1.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_2.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_7.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_6.jpg' %></div>
	  <div class="item"><%= image_tag 'partner_4.jpg' %></div>
	</div>
</div>

<div style="background:#f6f6f6">
	<div class="container padder light-gray">
	<h1 class="title"><a href="">Houzome Blogs</a></h1>
	<br>
	<% cache('feed', :expires_in => 3.days ) do %>
		<div class="clearfix">
			<% fp = FeedParser.new(url: 'https://houzome.wordpress.com/feed/') %>
			<% feed = fp.parse.items.first(2).as_json %>
			<% feed.each do |f| %>	
			<div class="comment">
			  <div class="comment-content">
			    <h1><a href="<%= f[:link] %>" style='text-decoration:underline;color:rgba(51, 51, 51, 0.6);font-size:1.2em'><%= f[:title] %></a></h1>
				<p><%= raw f[:description] %></p>
			  </div>
			</div>
			<% end %>
		</div>
	<% end %>
	</div>
</div>

<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 
		  $("#banner").owlCarousel({
		    autoPlay: 3000, //Set AutoPlay to 3 seconds
		    items : 1,
	        itemsDesktop: [1199,3],
	        itemsDesktopSmall: [979,3],
		    pagination: false,
		    animateIn: 'flipInX',		 
		  });

	  	  $("#partners").owlCarousel({
	  	       autoPlay: 3000, //Set AutoPlay to 3 seconds
	  	       items: 4,
	           itemsDesktop: [1199,3],
	           itemsDesktopSmall: [979,3],

	  	  
	  	   });
		});
	</script>
<% end %>