<div class="container padder">
	<div>
		<div class="breadcrumb">
		  <a href="/">Home</a>
		  <a href="/apartments">Apartments</a>
		  <% if @apartment %>
		  <%= link_to @apartment.name, apartment_path(@apartment.friendly_id) %>
		  <% end %>
		  <a href="javascript:void(0)"><%= @design.name.try(:capitalize) %></a>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="apartment__block">
		<div class="master">
			<div class="image" style="background: url('<%= @design.master_image_url %>');min-height:347px;width:100%;background-size: cover;background-repeat: no-repeat;">
			</div>
		</div>
		<div class="content">
			<h4><%= @design.name %></h4>
			<p>Price Rs.<span class='money'><%= @design.selling_price %></span>/-</p>
			<% unless @apartment.blank? %>
				<p><b>Apartment:</b> <%= @apartment.name %></p>
				<p><b>Tower:</b> <%= params[:tower] %>&nbsp;&nbsp;&nbsp;<b>Flat:</b> <%= params[:flat] %></p>
			<% end %>
			<h5>Portfolio Images</h5>
			<div id='portfolio-images'>
				<% @design.images.each do |img| %>
					<div class="image"><%= image_tag img.file_url, data: {action: 'zoom'} %></div>
				<% end %>
			</div>
			<div class="spacer"></div>
			
			<div class="modal">
			  <label for="booknow">
			    <% if @order %>
				    <div class="modal-trigger btn"  id="booker">
				    	Book Now
				    </div>
			    <% else %>
					<%= button_to 'Book Now', custom_design_path, method: :get %>
			    <% end %>
			  </label>
			  <input class="modal-state" id="booknow" type="checkbox" />
			  <div class="modal-fade-screen">
			    <div class="modal-inner">
			      <div class="modal-close" for="booknow"></div>
			      <h1>Leave us your details</h1>
			      <p class="modal-intro"></p>
			      <p class="modal-content">
			      	<% if @order %>
	      		      	<%= simple_form_for @order do |o| %>
	      		      		<%= o.input :apartment_id, as: :hidden, input_html: { value: params[:apartment]} %>
	      		      		<%= o.input :design_id, as: :hidden, input_html: { value: @design.id} %>
	      		      		<%= o.input :flat, as: :hidden, input_html: { value: params[:flat].split('-')[1].blank? ? "#{params[:tower]}, #{params[:flat]}" : params[:flat].split('-')[1] } %>
	      		      		<%= o.input :order_type, as: :hidden, input_html: { value: 'Normal'} %>
	      		      		<% if current_user %>
	      			      		<%= o.input :name, required: true, input_html: {value: current_user.name} %>
	      			      		<%= o.input :email, required: true, input_html: {value: current_user.email} %>
	      			      		<%= o.input :mobile, input_html: {value: current_user.mobile} %>
	      		      		<% else %>
	      		      			<%= o.input :name, required: true %>
	      		      			<%= o.input :email, required: true %>
	      		      			<%= o.input :mobile %>
	      		      		<% end %>
	      		      		<%= o.submit 'Submit Request'  %>
	      		      	<% end %>
			      	<% end %>
			      </p>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="apartment__block">
		<div class="master">
			<h4>Description</h4>
			<p><%= @design.description %></p>
			<div class="spacer"></div>
			<h4>Specifications</h4>
			<p><%= @design.specifications %></p>
		</div>
		<div class="content">
			<% unless @flat.blank? %>
			<h4>Floor Plan</h4>
			<div class="image">
				<%= image_tag @flat.first.fp_url, data: {action: 'zoom'} %>
			</div>
			<% end %>
		</div>
	</div>
</div>



<% content_for :javascript do %>
	<script>
		$(function() {
		  $("#booknow").on("change", function() {
		    if ($(this).is(":checked")) {
		      $("body").addClass("modal-open");
		    } else {
		      $("body").removeClass("modal-open");
		    }
		  });

		  $(".modal-fade-screen, .modal-close").on("click", function() {
		    $(".modal-state:checked").prop("checked", false).change();
		  });

		  $(".modal-inner").on("click", function(e) {
		    e.stopPropagation();
		  });
		});
	</script>
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Product",
	  "description": "<%= @design.description %>",
	  "name": "<%= @design.name %>",
	  "offers": {
	    "@type": "Offer",
	    "availability": "http://schema.org/InStock",
	    "price": "<%= @design.selling_price %>",
	    "priceCurrency": "INR"
	  }
	}
	</script>
<% end %>