<div class="container padder">
	<div class="breadcrumb">
	  <%= link_to 'Home', root_path %>
	  <%= link_to 'Builders', '' %>
	</div>


	<%= search_form_for @q, builder: SimpleForm::FormBuilder, url: builders_path, html: {method: :get} do |f| %>
	<div class="search-tools">
	  <%= f.input :apartments_city_eq, label: 'City', collection: Apartment.all.pluck(:city).uniq.compact, wrapper_html: {class: 'search-field' }%>
	  <div class="search-field" style="width:7%">
	  	<label for="">&nbsp;</label>
	  	<p style="text-align:center"><%= image_tag 'or', style: 'width:32px' %></p>
	  </div>
	  <%= f.input :name_eq, label: 'Builder', collection: Builder.all.pluck(:name), wrapper_html: {class: 'search-field' } %>
	  <%= f.submit 'Search', style: "margin-top: 26px" %>
	  
	</div>
	<% end %>
	
	<div style="margin-top:20px">
		<div style='float:right'><%= paginate @builders %></div>
		<p>Haven't found your builder <a href="/custom/design">Click here</a></p>
	</div>
	
	<div id='builders'class="padder">
		<% @builders.each do |b| %>
			<div class="each">
				<div class="hover-tile-outer" style="background: url(<%= b.image_url %>);background-size:cover">
				  <div class="hover-tile-container">
				    <div class="hover-tile hover-tile-visible"></div>
				    <div class="hover-tile hover-tile-hidden">
				      <a href="<%= frontend_builder_path(b.id) %>" class='white'>
				      	<h4><%= b.name.try(:upcase) %></h4>
				      	<p style="min-height:97px"><%= b.description %></p>
				      </a>
				    </div>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>