<div class="container padder">
	<div class="breadcrumb">
	  <a href="javascript:void(0)">Home</a>
	  <a href="javascript:void(0)">Builders</a>
	  <a href="">Apartment 1</a>
	</div>


	<div class="side-image">
	  <div class="images-wrapper" style="background: url('<%= @builder.image_url %>'); background-repeat: no-repeat;background-size: cover;background-color: white;border: 1px solid #e3e3e3"></div>
	  <div class="side-image-content">
	      <h4><%= @builder.name.try(:upcase) %></h4>
	      <p><%= @builder.description %></p>
	  </div>
	</div>



	<h2 style="margin-top:100px">Apartments</h2>
	<div id='builders'class="padder">
		<% @builder.apartments.each do |a| %>
			<div class="each">
				<div class="hover-tile-outer">
				  <div class="hover-tile-container">
				    <div class="hover-tile hover-tile-visible" style="background: url('<%= a.image_url %>');background-size:cover"></div>
				    <div class="hover-tile hover-tile-hidden">
				      <a href="<%= apartment_path(a.id) %>" class='white'>
				      	<h4><%= a.name.try(:upcase) %></h4>
				      	<p style="min-height:97px"></p>
				      </a>
				    </div>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>