<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>Orders</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
        
    	</ul><!-- /page-stats -->
    </div>
</div>

<%= render "application/flashes" -%>

<div class="padding-md">
  <div style="margin-top:20px">
    <div style='float:right'><%= paginate @orders %></div>
  </div>
  <table>
  	<tr>
      <th><%= sort_link(@q, :number, "Order ID", default_order: :desc) %></th>
  		<th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :price) %></th>
      <th><%= sort_link(@q, :edd, "EDD") %></th>
      <th><%= sort_link(@q, :aasm_state, 'State') %></th>
      <th></th>
  	</tr>
    <% @orders.each do |o| %>
    <tr>
      <td><%= o.number %></td>
      <td><%= o.name %></td>
      <td><%= o.design.blank? ? "#{o.price}" : "#{o.design.selling_price}" %></td>
      <td><%= o.edd %></td>
      <td><span class='badge badge-alert'><%= o.aasm_state.split('_').collect(&:capitalize).join(' ') %></span></td>
      <td style="text-align:right"><a href="<%= order_path(o.number) %>"><i class='fa fa-eye-slash'></i> Detail</a></td>
    </tr>
    <% end %>
  </table>
  <div style="margin-top:20px">
    <div style='float:right'><%= paginate @orders %></div>
  </div>
</div>