<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>Order</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
        
    	</ul><!-- /page-stats -->
    </div>
</div>

<%= render "application/flashes" -%>

<div class="padding-md">
    <ul>
    <li><h4>Order Type:  <%= (@order.order_type == "Custom") ? 'Custom Request' : 'Booking' %></h4></li>
    <hr>
      <div class="boxer">
        <div class="half">
          <li><b> Name:</b> <%= @order.name %></li>
          <li><b>Mobile:</b> <a href="tel:<%= @order.mobile %>"><%= @order.mobile %></a></li>
          <li><b> City:</b> <%= @order.city %></li>    
          <li><b> Email:</b>  <a href="mailto:<%= @order.email %>"><%= @order.email %></a></li>
        </div>
        <div class="half_last">
          <li><b>Apartment:</b> <%= @order.apartment.try(:name).blank? ? @order.apartment_address : @order.apartment.try(:name) %></li>
          <li><b>Flat:</b> <%= @order.flat %></li>
          <li>
          <% unless @order.design.blank? %>
            <label for="">Master Design:</label> <%= @order.design.name %>
          <% end %>
          </li>

          <li><label for="">Special Request:</label> <%= @order.special_request %></li>    
          <br>
          <%= simple_form_for @order do |f| %>
          <div class="boxer">
            <div class="half">
              <%= f.input :aasm_state, label: 'Order State', collection: ['under_progress', 'client_follow_up','customizations_requested','customization_quote ','interior_finalized','payments_done','order_completed','client_not_interested'] %>
              <% if @order.order_type == 'Custom' %>
                <%= f.input :price %>
              <% end %>
            </div>
            <div class="half_last">
              <%= f.input :edd, label: 'Expected Date of Delivery', html5: true %>
              <%= f.submit :style => 'margin-top:16px' %>
            </div>

          </div>
        <% end %>
        </div>
      </div>
    </ul>
</div>



<% content_for :javascript do %>
  <script>
  $(document).ready(function(){
    $('select').selectize()
  })
  </script>
<% end %>