<div id="top-header" style="text-align:right">
  <% unless current_user %>
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% else %>
    Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_url %>" class="logo">
      <%= image_tag 'logo_big.jpg', style: 'max-height: 52px;margin-bottom: 12px;padding:0px' %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    
    <div class="navigation-tools">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Builders', builders_path %></li>
        <li class="nav-link"><%= link_to 'Apartments', apartments_path %></li>
        <li class="nav-link"><%= link_to 'Request Custom Design', custom_design_path %></li>
      </ul>
    </div>
  </div>
</header>
