<style>
	img{
		width: inherit !important;
	}
	.custom_design_form{
		width: 63%;
		margin: 10px auto;
		background: aliceblue;
		padding: 55px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
	}
</style>
<div class="container padder">
	<div class="custom_design_form">
	<h2 style="text-align:center;margin-bottom:20px">Request Custom Design</h2>
	<p style="text-align:center;margin-bottom:60px">
		Haven't found your apartment listed here? or are you looking for interior designing of your home? Don't worry! please fill the form, we'll get back to you
	</p>
		<%= simple_form_for @order, url: custom_design_path do |o| %>
			<%= o.input :order_type, as: :hidden, input_html: { value: 'Custom'} %>
			<%= o.input :name, required: true, input_html: {value: current_user.blank? ? '' : current_user.name} %>
			<%= o.input :email, required: true, input_html: {value: current_user.blank? ? '' : current_user.email} %>
			<%= o.input :mobile %>
			<%= o.input :flat, input_html: {value: params[:flat], placeholder: 'Tower & Flat'} %>
			<%= o.input :apartment_address, input_html: {placeholder: 'Apartment Name & Address'} %>
			<%= o.input :city, input_html: {value: current_user.blank? ? '' : current_user.city} %>
			<%= o.input :special_request %>

			<%= o.submit 'Submit Request'  %>
		<% end %>
	</div>
</div>