<%= simple_form_for @builder do |f| %>
	<%= f.input :name %>
	<%= f.input :email, input_html: { :placeholder => "abc@domain.com"} %>
	<%= f.input :contact %>
	<%= f.input :description %>
	<label for="">Builder Image</label>
	<%= f.attachment_field :image %>
	<br>
	<%= f.submit %>
<% end %>