<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>Builders</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
        <%= button_to 'New Builder', new_builder_path, method: 'get' %>
    	</ul><!-- /page-stats -->
    </div>
</div>

<%= render "application/flashes" -%>

<div class="padding-md">
  <table>
  	<tr>
  		<th>Name</th>
  		<th>Email</th>
  		<th>Contact</th>
  		<th></th>
  	</tr>
    <% @builders.each do |b| %>
    <tr>
      <td>
        <%= link_to builder_path(b.id) do %>
          <%= b.name %> <i class='fa fa-eye-slash'></i>
        <% end %>
      </td>
      <td><a href="mailto:<%= b.email %>"><%= b.email %></a></td>
      <td><a href="tel:<%= b.contact %>"><%= b.contact %></a></td>
      <td>
        <a href="<%= edit_builder_path(b.id) %>"><i class='fa fa-pencil-square-o'></i> Edit</a> &nbsp; 
        <!-- link_to builder_path(b.id), method: :delete do 
          <i class='fa fa-trash-o'></i> Remove -->
      </td>
    </tr>
    <% end %>
  </table>
</div>