<%= simple_form_for @design, url: url do |f| %>
	<%= f.input :name %>
	<%= f.input :selling_price %>
	<%= f.input :description %>
	<%= f.input :specifications %>
	<label for="">Master Image</label>
	<%= f.attachment_field :master_image %>
	<%= attachment_image_tag(@design, :master_image, :fill, 300, 150) %>
	<label for="">Portfolio Images</label>
	<%= f.attachment_field :images_files, multiple: true %>
	<p><i class='fa fa-info-circle'> </i> Can select multiple images at once using Ctrl + Click</p>
	<br>
	<%= f.submit %>
<% end %>

<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		  $('select').selectize();
		});
	</script>
<% end %>