<%= simple_form_for @apartment, url: builder_apartments_path do |f| %>
	<%= f.input :name %>
	<%= f.input :builder_id, as: :hidden, input_html: { value: params[:builder_id]} %>
	<label for="">Image</label>
	<%= f.attachment_field :image %>
	<br>
	<%= f.submit %>
<% end %>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		  $('select').selectize();
		});
	</script>
<% end %>