<div class="container padder">
	<div class="breadcrumb">
	  <a href="/">Home</a>
	  <a href="">Apartments</a>
	</div>


	<div class="search-tools">
	  <div class="search-field">
	  	<label for="city">City</label>
	  	<select name="city" id="city" style="display:none">
	  		<option value="">Choose city</option>
	  		<option value="sd">Bangalore</option>
	  		<option value="sdsd">Chennai</option>
	  		<option value="sjdkl">Hyderabad</option>
	  	</select>
	  </div>
	  <div class="search-field last">
	  	<label for="apartment">Apartment</label>
	  	<select name="apartment" id="apartment" style="display:none"> 
	  		<option value="">Choose Apartment</option>
	  		<option value="sd">Nilkamal</option>
	  		<option value="sdsd">Puravankara</option>
	  		<option value="sjdkl">Brigade</option>
	  		<option value="tes">Mantri</option>
	  	</select>
	  </div>
	</div>

	<div style="text-align:right">
		<%= paginate @apartments %>
	</div>
	<div id='apartments' class="padder">
	<% @apartments.each do |a| %>
		<div class="each">
			<div class="hover-tile-outer" style="background: url(<%= a.image_url %>);background-size:cover">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <a href="<%= apartment_path(a.id) %>" class='white'>
			      	<h4><%= a.name.try(:upcase) %></h4>
			      	<p style="min-height:97px"><%= a.city.try(:capitalize) %></p>
			      </a>
			    </div>
			  </div>
			</div>
		</div>
	<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>