<%
meta title: "Modern Interior Design Solutions, Unique modern Design | Houzome",
     description: "Design solution for your home",
     keywords: %w(interior design home decor apartment)
%>


<div class="container padder">
	<div class="breadcrumb">
	  <a href="<%= root_url %>" itemprop='url'>Home</a>
	  <a href="<%= apartments_path %>" itemprop='url'>Apartments</a>
	</div>


	<%= search_form_for @q, builder: SimpleForm::FormBuilder, url: apartments_path, html: {method: :get} do |f| %>
	<div class="search-tools">
	  <%= f.input :city_eq, label: 'City', collection: Apartment.all.pluck(:city).uniq.compact.sort, wrapper_html: {class: 'search-field' }%>
	  <div class="search-field" style="width:7%">
	  	<label for="">&nbsp;</label>
	  	<p style="text-align:center"><%= image_tag 'or.svg', style: 'width:32px' %></p>
	  </div>
	  <%= f.input :name_eq, label: 'Apartment', collection: Apartment.all.pluck(:name).sort, wrapper_html: {class: 'search-field' } %>
	  <%= f.submit 'Search', style: "margin-top: 26px" %>
	  
	</div>
	<% end %>

	<div style="margin-top:20px">
		<div style='float:right'><%= paginate @apartments %></div>
		<p>Haven't found your apartment? <%= link_to 'Search by your Builder', builders_path %> OR <a href="/custom/design">Request Custom Design</a></p>
	</div>

	<div id='apartments' class="padder">
	<% @apartments.each do |a| %>
		<div class="each">
			<div class="hover-tile-outer" style="background: url(<%= a.image_url %>);background-size:cover">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <a href="<%= apartment_path(a.friendly_id) %>" class='white'>
			      	<h4><%= a.name.try(:upcase) %></h4>
			      	<p style="min-height:97px"><%= a.city.try(:capitalize) %></p>
			      </a>
			    </div>
			  </div>
			</div>
		</div>
	<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
	<script type="application/ld+json">
	 { "@context" : "http://schema.org",
	   "@type" : "Organization",
	   "name" : "Houzome",
	   "logo": "",
	   "url" : "<%= root_url %>",
	   "email": "info@houzome.com",
	   "founder": "Vishwas Sinha",
	   "contactPoint" : [{ "@type" : "ContactPoint","telephone" : "(+91) 777-402-8154", "contactType" : "sales"}],
	   "sameAs" : [ "http://www.facebook.com/houzome"]
	 }
	 </script>
<% end %>