<div class="container padder">
	<div class="breadcrumb">
	  <a href="/">Home</a>
	  <a href="">Apartments</a>
	</div>


	<%= search_form_for @q, builder: SimpleForm::FormBuilder, url: apartments_path, html: {method: :get} do |f| %>
	<div class="search-tools">
	  <%= f.input :city_eq, label: 'City', collection: Apartment.all.pluck(:city).uniq.compact, wrapper_html: {class: 'search-field' }%>
	  <%= f.input :name_eq, label: 'Apartment', collection: Apartment.all.pluck(:name), wrapper_html: {class: 'search-field' } %>
	  <%= f.submit 'Search', style: "margin-top: 26px" %>
	  
	</div>
	<% end %>

	<div style="margin-top:20px">
		<div style='float:right'><%= paginate @apartments %></div>
		<p>Haven't found your apartment? <a href="/custom/design">Click here</a></p>
	</div>

	<div id='apartments' class="padder">
	<% @apartments.each do |a| %>
		<div class="each">
			<div class="hover-tile-outer" style="background: url(<%= a.image_url %>);background-size:cover">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <a href="<%= apartment_path(a.id) %>" class='white'>
			      	<h4><%= a.name.try(:upcase) %></h4>
			      	<p style="min-height:97px"><%= a.city.try(:capitalize) %></p>
			      </a>
			    </div>
			  </div>
			</div>
		</div>
	<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>