<div class="container padder">
	<div>
		<div class="breadcrumb">
		  <%= link_to 'Home', root_path %>
		  <%= link_to 'Apartments', apartments_path %>
		  <%= link_to @apartment.name, '' %>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="image-gradient-dynamic">
	  <%= image_tag attachment_url(@apartment, :image) %>
	  <div class="overlay"></div>
	  <div class="copy">
	    <p><%= @apartment.name.try(:upcase) %></p>
	  </div>
	</div>
	<div class="spacer"></div>

	<div id="master-design">
		
	</div>	

	<div id='apartments' class="padder">
		
		
	</div>

	
</div>



<% content_for :javascript do %>
	<script>
		
	</script>
<% end %>

<% content_for :javascript_header do %>
	<script>
		window.apartment_id = <%= params[:id] %>;
	</script>
<% end %>