<%
meta title: "#{@apartment.name} | Houzome",
     description: "#{@apartment.address} #{@apartment.city}",
     keywords: %w(interior design home decor apartment)
%>

<div class="container padder">
	<div>
		<div class="breadcrumb">
		  <%= link_to 'Home', root_path, itemprop: 'url' %>
		  <%= link_to 'Apartments', apartments_path, itemprop: 'url' %>
		  <%= link_to @apartment.name, '' %>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="image-gradient-dynamic">
	  <%= image_tag attachment_url(@apartment, :image) %>
	  <div class="overlay"></div>
	  <div class="copy">
	    <p><%= @apartment.name.try(:upcase) %></p>
	  </div>
	</div>
	<div class="spacer"></div>

	<div id="master-design">
	</div>	

	<div id='apartments' class="padder">
	</div>
</div>



<% content_for :javascript do %>
	<script>
		
	</script>
<% end %>

<% content_for :javascript_header do %>
	<script>
		window.apartment_id = <%= params[:id] %>;
	</script>
	<script type="application/ld+json">
	 { "@context" : "http://schema.org",
	   "@type" : "ApartmentComplex",
	   "name" : "<%= @apartment.name %>",
	   "image": "http://houzome.com<%= attachment_url(@apartment, :image) %>",
	   "url" : "<%= request.original_url %>",
	   "address": "<%= @apartment.address %>, <%= @apartment.city %>",
	   "geo": {
	   	"@type": "GeoCoordinates",
	   	"latitude": "<%= @apartment.latitude %>",
	   	"longitude": "<%= @apartment.longitude %>"
	   }
	 }
	 </script>
<% end %>