<!DOCTYPE html>
<html>
<head>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= page_title(app_name: 'Houzome') %></title>
  <script src="//use.typekit.net/gsi0jaz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :application, media: "all"%>
</head>
<body class="<%= body_class %>">
  <%= yield %>
</body>
</html>
