<!DOCTYPE html>
<html>
<head>
  <%= render 'head'%>
  <script src="//use.typekit.net/gsi0jaz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="homepage homepage-index">
   <div class="page-wrapper">
  <%= render 'header'%>
  <%= render "flashes" -%>
  <%= yield %>

  <%= javascript_include_tag :application %>
  <%= yield :javascript %>
  <%= yield :custom_design %>

  </div>
    <%= render 'footer'%>
</body>
</html>