<!DOCTYPE html>
<html>
<head>
  <%= render 'common_header_tags' %>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= page_title(app_name: 'Houzome') %></title>
  <script src="//use.typekit.net/gsi0jaz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag :builders, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'tag_manager' %>
  <%= render "analytics" %>
  <%= render "flashes" -%>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'refills/footer' %>
  
  <%= javascript_include_tag :builders %>
  <%= yield :javascript %>
  <%= yield :custom_design %>
</body>
</html>