<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />

  <meta property="og:url" content="http://houzome.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Houzome" />
  <meta property="og:description" content="We make your house feel like home" />
  <meta property="og:image" content="<%= image_url "logo_big.jpg" %>" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= page_title(app_name: 'Houzome') %></title>
  <script src="//use.typekit.net/gsi0jaz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag :homepage, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'tag_manager' %>
  <%= render "analytics" %>
  <%= render "flashes" -%>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'refills/footer' %>

  <%= javascript_include_tag :application %>
  <%= yield :javascript %>
  <%= yield :custom_design %>
</body>
</html>
