<!DOCTYPE html>
<html>
<%= render 'head'%>
 <head>
</head>
<body class="homepage homepage-index">
  <div class="page-wrapper">
  <%= render 'header_menu'%>
  <%= render "flashes" -%>
  <%= yield %>

  <%= javascript_include_tag :application %>
  <%= yield :javascript %>
  <%= yield :custom_design %>

  </div>
    <%= render 'footer'%>
</body>
</html>
